<div class="row">
	<div class="login-box">
		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :authenticity_token => true, :class=>"form-horizontal") do |f| %>
		  <fieldset>
		    <%= f.input :email, required: false, autofocus: true, :class=>"input-large col-xs-12" %>
		    <%= f.input :password, required: false, :class=>"input-large col-xs-12" %>
		    <div class="clearfix"></div>
		    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
		    <div class="clearfix"></div>
		    <%= f.button :submit, "Sign in", :class=>"btn btn-primary col-xs-12" %>
		  </fieldset>
		<% end %>
		<%= render "users/shared/links" %>
	</div>
</div>