<div class="col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Premium Propeties</h3>
    </div>
    <div class="panel-body">
      <h5><span class="text-muted"><%= "#{@property.project} for #{Property::TODO_TYPE.keys[@property.to_do]} at #{@property.area} "%></span></h5>
      <div class="col-md-6">
        <%= image_tag("/images/yes.jpg", size: "150x100") %>
      </div>
      <div class="col-md-6">
        <strong><%="#{@property.price} Lacs" %></strong>
        <p class="text-muted"><small>By:- Arvind Mehra <em>(Broker)</em></small>
          <span><small>Listed on <%=@property.created_at.to_date %></small></span>
        </p>
      </div>
    </div>
    <div class="panel-body">
      <h5><span class="text-muted"><%= "#{@property.project} for #{Property::TODO_TYPE.keys[@property.to_do]} at #{@property.area} "%></span></h5>
      <div class="col-md-6">
        <%= image_tag("/images/yes.jpg", size: "150x100") %>
      </div>
      <div class="col-md-6">
        <strong><%="#{@property.price} Lacs" %></strong>
        <p class="text-muted"><small>By:- Arvind Mehra <em>(Broker)</em></small>
          <span><small>Listed on <%=@property.created_at.to_date %></small></span>
        </p>
      </div>
    </div>
    <div class="panel-body">
      <h5><span class="text-muted"><%= "#{@property.project} for #{Property::TODO_TYPE.keys[@property.to_do]} at #{@property.area} "%></span></h5>
      <div class="col-md-6">
        <%= image_tag("/images/yes.jpg", size: "150x100") %>
      </div>
      <div class="col-md-6">
        <strong><%="#{@property.price} Lacs" %></strong>
        <p class="text-muted"><small>By:- Arvind Mehra <em>(Broker)</em></small>
          <span><small>Listed on <%=@property.created_at.to_date %></small></span>
        </p>
      </div>
    </div>
  </div>
</div>