<h1>Listing properties</h1>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Project</th>
      <th>Area</th>
      <th>City</th>
      <th>Posted at</th>
      <th>Price</th>
      <th>Size</th>
      <th>To do</th>
      <th>Contact</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.photo %></td>
        <td><%= property.project %></td>
        <td><%= property.area %></td>
        <td><%= property.city %></td>
        <td><%= property.posted_at %></td>
        <td><%= property.price %></td>
        <td><%= property.size %></td>
        <td><%= property.to_do %></td>
        <td><%= property.contact %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
