<body class="loading">
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3><%= "#{@property.project} for #{Property::TODO_TYPE.keys[@property.to_do]} at #{@property.area} "%></h3>
      <div class="col-md-6"><img src="/images/yes.jpg"></div>
      <div class="col-md-6">
        <strong><%=@property.price %></strong>,<strong><%=@property.size %></strong><br>
        <table class="table">
          <tr>
            <td>Type of Property</td>
            <td>Apartment</td>
          </tr>
          <tr>
            <td>Project Name</td>
            <td><%=@property.project%></td>
          </tr>
          <tr>
            <td>Locality</td>
            <td><%=@property.area%></td>
          </tr>
          <tr>
            <td>City</td>
            <td><%=@property.city%></td>
          </tr>
          <tr>
            <td>Type</td>
            <td><span class="label label-primary"><%= Property::TODO_TYPE.keys[@property.to_do] if  @property.to_do %></span></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-4">
  colmd8
    </div>
  </div>
</div>




  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

  <script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        controlNav: "thumbnails",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
</body>