<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<div class="row">
        <div class="col-lg-12">
          <section class="panel">
            <div class="panel-body">
              <form class="form-inline" role="form">
                <div class="form-group">
                  <label class="sr-only" for="exampleInputEmail2">Min Sqft</label>
                  <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Min Sqft">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="exampleInputPassword2">Max Sqft</label>
                  <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Max Sqft">
                </div>
                <button type="submit" class="btn btn-success">Search</button>
              </form>
            </div>
          </section>
        </div>
      </div>
			<div class="box-header" data-original-title>
				<h2><i class="icon-user"></i><span class="break"></span>2,391 office spaces for rent </h2>
				<div class="box-icon">
					<a href="table.html#" class="btn-setting"><i class="icon-wrench"></i></a>
					<a href="table.html#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
					<a href="table.html#" class="btn-close"><i class="icon-remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				<table class="table table-striped table-bordered bootstrap-datatable datatable">
				  <thead>
					  <tr>
					  	<th>ID</th>
						  <th>Photo</th>
				      <th>Project</th>
				      <th>Area</th>
				      <th>City</th>
				      <th>Posted at</th>
				      <th>Price</th>
				      <th>Size</th>
				      <th>To do</th>
				      <th>Contact</th>
				      <th></th>
				      <th></th>
				      <th></th>
					  </tr>
				  </thead>
				  <tbody>
				    <% @properties.each do |property| %>
				      <tr>
				      	<td><%= property.id %></td>
				        <td><%= property.photo %></td>
				        <td><%= property.project %></td>
				        <td><%= property.area %></td>
				        <td><%= property.city %></td>
				        <td><%= property.posted_at %></td>
				        <td><%= property.price %></td>
				        <td><%= property.size %></td>
				        <td><%= property.to_do %></td>
				        <td><%= property.contact %></td>
				        <td><%= link_to 'Show', property %></td>
				        <td><%= link_to 'Edit', edit_property_path(property) %></td>
				        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				      </tr>
				    <% end %>
				  </tbody>
			  </table>
			</div>
		</div>
	</div><!--/col-->

</div><!--/row-->