<!DOCTYPE html>
<html lang="en">
<head>

  <!-- start: Meta -->
  <meta charset="utf-8">
  <title>Integrated Analysis</title>
  <!-- start: Mobile Specific -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- end: Mobile Specific -->

  <!-- start: CSS -->
  <%= stylesheet_link_tag 'application', media: "all" %>
  <%= javascript_include_tag "application" %>
  <!-- end: CSS -->
  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
     <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <script src="assets/css/ie6-8.css"></script>
  <![endif]-->
</head>
<body style="padding-top: 60px; padding-bottom: 40px;">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to("Integrated Analysis","#",:class => "brand") %>
        <div class="nav-collapse collapse">
          <p class="navbar-text pull-right">
            Logged in as #{link_to(current_user.full_name,"#")}
            |
            <small>
              <%= link_to("logoout",destroy_user_session_path, :data => {:confirm  => "Are you sure you want to logout?"}) %>
            </small>
          </p>
          <ul class="nav">
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="navbar">
          <div class="navbar-inner">
          </div>
        </div>
        <%= yield %>
      </div>
    </div>
    <hr class="hr-normal">
    <footer>
      <p>
        <span style="text-align:left;float:left">&copy; 2014 <a href="http://bootstrapmaster.com" alt="Bootstrap Themes">creativeLabs</a></span>
        <span class="hidden-phone" style="text-align:right;float:right">Powered by: <a href="http://admintemplates.co" alt="Bootstrap Admin Templates">Integrated Analysis</a></span>
      </p>
    </footer>
  </div>
</body>